/*
 * @Author: stmy 
 * @Date: 2021-06-08 16:52:09 
 * @Last Modified by: stmy
 * @Last Modified time: 2021-06-25 01:26:39
 */
$theme-color : #409EFF; /* 主题色 */
$base-font : #304455 ; /* 主要文字颜色 */
$title-font : #2c3e50; /* 标题文字颜色 */
$link-color : #8590a6; /* 导航栏标签未被选定的颜色 */
.card{
  display: flex;
  flex-direction: column;
  border-top: 1px solid #f5f5f5;
  background: #fff;
}
.button--blue{
  color: #fff;
  background: #06f;
}
.button--grey{
  color: #8590a6;
  background: #fff;
  border: 1px solid #8590a6;
}
.button{
  display: inline-block;
  padding: 0 16px;
  line-height: 32px;
  font-size: 14px;
}
.button--link{
  color: #175199;
}
.btn-left{
  margin-left: 15px;
}