@import "./theme.scss";

@mixin themeify {
  @each $theme-name,$theme-map in $themes {
    $theme-map:$theme-map !global;
    [data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}

@function themed($key){
  @return map-get($theme-map,$key)
}

@mixin font_color($color){
  @include themeify{
    color: themed($color) !important;
  }
}
@mixin bg_color($bgcolor){
  @include themeify{
    background-color: themed($bgcolor);
  }
}