/*
 * @Author: stmy 
 * @Date: 2021-06-08 16:47:02 
 * @Last Modified by: stmy
 * @Last Modified time: 2021-06-17 00:42:19
 */

  /* 文字样式 */
  @mixin sc($size,$color){
    font-size: $size;
    color: $color;
  }

  /* 宽高 */
  @mixin wh($width,$height){
    width: $width;
    height: $height;
  }

  /* 阴影 */
  @mixin bs(){
    box-shadow: 0 1px 3px rgba(18,18,18,.1);
  }

  @mixin active(){
    &::after{
      content:'';
      height: 4px;
      background:$theme-color;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
    }
  }